*{
    font-family: "Arial";
}

body {
    margin: 0;
}

div {
    
    border-color: black;
    background-color:bisque;
}
div > .parrafos {
    margin-left: 20px;
    text-align: left;
    
}

div > .titulo {
    
    text-align: center;
    color: #333;
}

header > .cabecera {
  
    border-color: white;
    background-color: #33a !important;
    text-align: center;
}

.cabecera {
    font-weight: bold;
    font-size: larger;
    font-family: "Arial";
    margin: 0;
    padding: 0.5em;
    
    color: white;
}